/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Cormorant',serif;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1{
	font-family: 'Montserrat';
	font-size: 60px;
	text-align: center;
	letter-spacing: 2px;
}

h2{
	font-family: 'Montserrat';
	font-size: 30px;
	margin-bottom: 0;
	letter-spacing: 1px;
}

p {
	font-size: 20px;
	margin: 1rem 0;
}

section h2 + p{ 
	text-indent: 2rem;
}

a:link {
	color: #aa6666;
}

a:visited {
	color: purple;
}

a:hover {
	color: darkred;
	text-decoration: none;
}

a:focus {
	color: darkred;
	text-decoration: none;
	outline: none;
}

a[href^="http"]::after {
	content: "";
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.25em;

	background-size: 100%;
	background-image: url("external-link-52.png")
}

ol {
	line-height: 1.5;
     margin: 1rem 0;
	list-style-type: lower-alpha;
}

ul {
	line-height: 1.5;
	margin: 1rem 0;
	list-style-type: square;
}

nav ul {
	padding: 0;
	list-style-type: none;
	display: block;
}

nav li {
	text-align: center;
	color: #aa6666;
	margin-bottom: 1rem;
}

nav a { 
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #aa6666;
	display: block;
	padding: 1rem;
	border: solid #aa6666;
	font-family: 'Montserrat';
}

nav a:hover, nav a:focus { 
	color: darkred;
	
}



