/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Lato',serif;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1{
	font-family: 'Cormorant', serif;
	font-size: 60px;
	text-align: center;
	letter-spacing: 2px;
}

h2{
	font-family: 'Cormorant', serif;
	font-size: 30px;
	margin-bottom: 0;
	letter-spacing: 1.5px;
}

p {
	font-size: 20px;
}

section { 
	text-indent: 2rem;
}
